.right-section #list-table .th1{
    width:50px;
}
.right-section #list-table .th2{
    width: 60px;
}
.right-section #list-table .th4{
    width: 80px;
}
.right-section #list-table .th5{
    width: 50px;
}
.right-section #list-table .th6{
    width: 110px;
}
.right-section #list-table .th7{
    width: 100px;
}
.right-section #list-table .th8{
    width: 80px;
}
.right-section #list-table .th9{
    width: 80px;
}
.right-section #list-table .th10{
    width: 140px;
}.right-section #list-table .th11{
    width: 120px;
}
#paging-mode{
    width: 100px;
    float: right;
    display: none;
}