.form-control{
    padding: 4px 5px !important;
    font-size: 12px !important;
}
.map-search-row .keyword {
    float: left;
    height: 30px;
    margin-left: 10px;
    outline: none;
}
.map-search-row a {
    cursor: pointer;
    text-decoration: none;
    float: left;
    height: 30px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #428bca;
}
#content{
    width:780px;height:200px;
}