.list-table .th1,.list-table .th4{
    width:40px;
}
.list-table .th4{
     width:140px;
 }
.list-table .th2{
    width: 200px;
}
.list-table .th3{
    width: 40px;
}
.list-table .th5{
    width: 40px;
}
.list-table .th6{
    width: 180px;
}
.list-table td a{
    margin: 0 2px;
}

.head-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;;
}
.btn-default{
    border-color: #ccc !important;
}