{extend name="./static/page/admin_tpl.html" /}

{block name="header_title"}大话软件后台{/block}
{block name="content"}
<div class="col-md-12 right-section">
    <!--内容区域-->
    <h3><i class="icon iconfont"><!--{$smarty.session.currentMenu.icon}--></i>用户详情</h3>
    <div class="inner-section row">
        <div class="items add-div">
            <form id="myForm" action="#" method="post" enctype="multipart/form-data">
                <div class="item table-responsive">
                    <table class="table table-striped table-hover table-bordered table-base">
                        <tbody>
                        <tr>
                            <td>账号<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.account}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>头像<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                <img height="30" src="{$userInfo.head_img_url}">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>昵称<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.nick_name}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>余额<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.balance}
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>性别<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {if $userInfo.sex eq 1}男
                                {elseif $userInfo.sex eq 2}女
                                {elseif $userInfo.sex eq 0}未知
                                {/if}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.country}-{$userInfo.province}--{$userInfo.city}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>生日<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.birthday}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>关注时间<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.subscribe_time}
                            </td>
                            <td></td>
                        </tr>

                        <tr style="display:none;">
                            <td>积分<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                                {$userInfo.points}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>手机号<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                             {$userInfo.phone}
                            </td>
                            <td></td>
                        </tr>
                        <tr style="display: none;">
                            <td>最后登录时间<label class="must-tag">&nbsp;&nbsp;</label></td>
                            <td>
                              {$userInfo.last_login}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <input type="hidden" name="id" value="<!--{$userInfo.id}-->">
                                <a href="javascript:window.history.go(-1);" class="btn btn-default">返回</a>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}